<h3><a class="anchor-special" id="{{{kind}}}_{{{nameNoPrefix}}}" url="/#/Reference/
{{~#if (parentObject) ~}}
{{#with (parentObject)}}{{kind}}/{{nameNoPrefix}}{{/with}}#{{{kind}}}_{{{nameNoPrefix}}}
{{~else~}}
{{{kind}}}/{{{nameNoPrefix}}}#{{{kind}}}_{{{nameNoPrefix}}}
{{~/if~}}">
{{>module-member-name}}</a></h3>